# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore editor settings
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build files
dist/
build/

# Ignore log files
npm-debug.log
